<div class="item card-item card-stable  ">                    
    <button class="button button-block button-calm ink ink-dark" ui-sref="app.income" >Add Income</button>
    <button class="button button-block button-calm ink ink-dark" ui-sref="app.expense" >Add Expense</button>
    <button class="button button-block button-calm ink ink-dark" ui-sref="app.saving" >Add Saving</button>
    <button class="button button-block button-calm ink ink-dark" ui-sref="app.account" >Add Account</button>
</div>