<ion-view view-title="Dashboard">
  <ion-content class="padding">
    <div class="list card text-center">
      <div class="item item-divider">Status</div>
      <div class="item item-body aggressive">
        <div class="">
        <p class="button button-block button-calm" >You're worth</p>
          <h1><b>20,500</b>/-</h1>
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Recent Updates</div>
      <div class="item item-body">
        <!--<div class="table-responsive" ng-repeat="x in xx | limitTo: 3">-->
        <div class="table-responsive">
        <h2>Today: &nbsp;<b>500</b> </h2><br/>
          <tr><th>Item</th>&nbsp;&nbsp;&nbsp;<th>Amount</th></tr><br/>
          <tr><td>Fare: </td>&nbsp;&nbsp;<b>100</b></tr><br/>
          <tr><td>Food: </td>&nbsp;&nbsp;<b>150</b></tr><br/>
          <tr><td>Airtime: </td>&nbsp;&nbsp;<b>50</b></tr><br/>
          <tr><td>Loan: </td>&nbsp;&nbsp;<b>200</b></tr><br/>
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Overview</div>
      <div class="item item-body">
        <div>
          Total Income: &nbsp;<b>25000</b> <br/>
          Total Expenses: &nbsp;<b>5000</b> <br/>
          Total Loans: &nbsp;<b>500</b> <br/>
          Total Savings: &nbsp;<b>0.00</b> <br/>
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Upcoming</div>
      <div class="item item-body">
        <div>
          You have <b>2</b> expenses on your calendar tomorrow.
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
