<ion-view  name="login-view">
  <ion-content style="background: url('../img/login.jpg') center; background-size: cover;">
        <div class="hero no-header flat">
            <div class="content " style="text-align: center;">
              <br />
                <div class="app-icon"></div>
                <h1 >Perfin</h1>
            
            <div class="list padding">
                <p class="p2"><i>Your Personal finance manager</i></p>
            </div>
            </div>
        </div>
        <!--
        <div class="list">
            <ion-md-input placeholder="Username" highlight-color="balanced" type="text"></ion-md-input>
            <ion-md-input placeholder="Password" highlight-color="energized" type="password"></ion-md-input>
        </div> -->
        <div class="padding">
            <button ui-sref="login" class="button button-full button-energized-900 ink" >Proceed</button>
        </div> 
        <div class="button-bar button-full social-login button-bottom">
            <p class="text text-small button-border text-center  text-assertive-900" style="text-align: center;">A product of Larry Developers</p>
        </div> 

    </ion-content>
</ion-view>
