<ion-view view-title="Login" name="login-view">
  <ion-content class="padding">
      <div class="list list-inset">
          <label class="item item-input">
              <input type="text" placeholder="Username" ng-model="data.username" required="">
          </label>
          <label class="item item-input">
              <input type="password" placeholder="Password" ng-model="data.password" required="">
          </label>
      </div>
      <button class="button button-block button-calm" ng-click="login()">Login</button>
      <div>
        <p>Or
        <button class="button button-block button-cool" ui-sref="signup" >Register</button></p>
      </div>
  </ion-content>
</ion-view>
