<ion-view view-title="Register Here" name="signup-view">
  <ion-content class="padding">
      <div class="list list-inset">      
          <label class="item item-input">
              <input type="text" placeholder="Username" ng-model="signdata.username">
          </label>
          <label class="item item-input">
              <input type="email" placeholder="Email" ng-model="signdata.email">
          </label>
          <label class="item item-input">
              <input type="password" placeholder="Password" ng-model="signdata.password">
          </label>
          <label class="item item-input">
            <p>Choose a User type &nbsp; </p>
            <select class="item item-input" ng-model="signdata.type" placeholder="User type">              
                <option class="form-control" value="business">Business</option>
                <option class="form-control" value="individual">Individual</option>  
            </select> 
          </label>
      </div>
      <button class="button button-block button-calm" ng-click="signup()">Sign Up</button>
  </ion-content>
</ion-view>
