<ion-view view-title="Business Dashboard">
  <ion-nav-button side="right">
    <button class="button icon-left ion-log-out button-stable" ng-click="logout()">Logout</button>
  </ion-nav-button>
  
  <ion-content class="padding">
    <div class="list card text-center">
      <div class="item item-divider">Status</div>
      <div class="item item-body aggressive">
        <div class="">
        <p class="button button-block button-calm" >You're worth
          <h1><b>5,000{{total.all}}</b>/-</h1>
        </p>
        </div>
      </div>
    </div>
    <div class="list card card-dark">
      <div class="item item-divider">
        <h1 class="">This Month: &nbsp;<b>{{total.today}} 500</b> </h2>
      </div>
    </div>
    <div class="list card ">
      <div class="item item-divider">Overview</div>
      <div class="item item-body">
        <div class="row">
          <div class="col-50">
               Total Income
             </div>
             <div class="col-20">
               <b>25,000 {{total.income}}</b>
             </div>          
        </div>
        <div class="row">
          <div class="col-50">
               Total Expenses
             </div>
             <div class="col-20">
               <b>15,000 {{total.expenses}}</b>
             </div>          
        </div>
        <div class="row">
          <div class="col-50">
               Total Savings
             </div>
             <div class="col-20">
               <b>5,000 {{total.savings}}</b>
             </div>          
        </div>
        
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Recent Updates</div>
      <div class="item item-body">
        <!--<div class="table-responsive" ng-repeat="x in xx | limitTo: 3">-->
        <div class="item col-header item-icon-right">  
          <div class="flex-container wrap">            
            <div class="row">
              <div class="">
               Date &nbsp;
             </div>
             <div class="">
              Item &nbsp;
              </div>
              <div class="">
                Amount
              </div>          
            </div>
              <ion-list>
                <div ng-repeat="all in alls" ng-click="sortBy(all.id)">
                    <div class="all " ng-class="{ 'underlined' : data.sortOn === all.id }">
                             
                      <li>
                        <h2>{{all.date}} &nbsp;&nbsp;{{all.name}} &nbsp; - &nbsp; <b>{{all.amount}}</b></h2>
                      </li>
                    </div>
                    <div class="column-sort">
                      <i ng-class="{'ion-chevron-up' : data.sortReverse === false, 'ion-chevron-down' : data.sortReverse === true} " ng-if="data.sortOn === column.id"></i>
                    </div>
                  </div>
              </ion-list>
                 
      </div>
    </div>  

  </div>
</div>
    
    <!--
    <ion-item class="item-avatar" ng-repeat="all in alls" type="item-text-wrap" href="#/tab/friends/{{all.id}}">
        <img ng-src="{{view.face}}">
        <div class="row">
          <div class="col-20">
           {{all.name}} &nbsp;&nbsp;
          </div>
          <div class="">
            {{all.amount}} &nbsp;&nbsp;
          </div>
          <div class="">
            {{all.date}} &nbsp;&nbsp;
          </div>          
        </div>
      </ion-item> -->
    <div class="list card">
      <div class="item item-divider">Upcoming</div>
      <div class="item item-body">
        <div>
          You have <b>2 {{up.expense}}</b> expenses on your calendar tomorrow.
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
